# SQL
DB_DRIVER='ODBC Driver 18 for SQL Server'
DB_SERVER='sqlserver.example.local'
DB_USERNAME='skolehistorik_svc'
DB_PASSWORD='dit-password-her'
XFLOW_DB='XFlow'
XFLOW_TABLE='dbo.skolekube_enrollment_request_log'
SKOLEKUBE_DB='Skolekube'
SKOLEKUBE_SENSITIVE_TABLE='dw.dim_student_sensitive'
SKOLEKUBE_ENROLLMENT_TABLE='dw.fact_enrollment'

# Mail (kræves kun ved MAILER=api)
MAIL_API_KEY=''

# Valgfrit
#POLL_INTERVAL_SECONDS=300
#MAX_ATTEMPTS=3
#MAILER=console
#MAIL_SUBJECT=Skolehistorik – bestilling #{request_id}
#MAIL_API_URL=http://mail-client-api:8000
#MAIL_API_TIMEOUT=30
#SHARED_DIR=/shared
